@using Objects;
@using Models;

<h3>DifficultyLevelMenu</h3>
<div>
    <button @onclick=@(e=>UpdateGameLevel(10,10,5))>Easy</button>
    <button @onclick=@(e=>UpdateGameLevel(12,12,20))>Medium</button>
    <button @onclick=@(e=>UpdateGameLevel(15,15,30))>Hard</button>
    <button @onclick=@(e=>UpdateGameLevel(15,15,55))>Hardcore</button>
    <button @onclick=@(e=>UpdateGameLevel(20,20,250))>Insane</button>
</div>
Instrukcja Gry:
Kiedys ja tu napisze
<style>
    button {
        background-color: antiquewhite;
    }
</style>

@code {

    [Parameter]
    public GameLevel GameLevelValue { get; set; }
    [Parameter]
    public EventCallback<GameLevel> GameLevelValueChanged { get; set; }

    async Task UpdateGameLevel(int rows, int cols, int bombs)
    {
        GameLevelValue.Rows = rows;
        GameLevelValue.Columns = cols;
        GameLevelValue.Bombs = bombs;
        await GameLevelValueChanged.InvokeAsync(GameLevelValue);
    }
}
