@using Services;

<link rel="stylesheet" href="css/NodeStyle.css" />
<h3>GameField</h3>

To jest pole gry ziom!!!!
<table>
    @for (int i = 0; i < numberOfRows; i++)
    {
        int row=i;
        <tr>
            @for (int j = 0; j < numberOfColumns; j++)
            {
                int col = j;
                int ndStatus = (int)gameService.GameField[row, col].nodeStatus;



<td class="@GetStyle(row,col)" oncontextmenu="return false;"
                @onclick="@(e => TableFieldClicked(e, row, col))"
                @onmouseup="@(e=> CheckButton(e,row,col))"
                @ondblclick="DbClicked">
                
                @if (gameService.GameField[row, col].Visited) { 
                if (ndStatus > 0 && ndStatus <= 8)
                {
                        @((int)gameService.GameField[row, col].nodeStatus);
                } else if (gameService.GameField[row, col].nodeStatus == Helpers.NodeStatus.Bomb)
                {
                    <div>*</div>
                    } } else if (gameService.GameField[row, col].IsFlagged) { <div>f</div>}
            </td>
            }
        </tr>
    }
</table>
    <div>Kliknieto pole:@clickedRow , @clickedCol  </div>
    <div>Double Clicked:@dbClick</div>
    <div>Klinketo klawisz:@klawisz</div>

@code {
    [Parameter]
    public GameService _GameService { get; set; }


    private int numberOfColumns;
    private int numberOfRows;
    private GameService gameService;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        gameService = _GameService;
        numberOfRows = _GameService.GameField.GetLength(0);
        numberOfColumns = _GameService.GameField.GetLength(1);
    }

    // private GameService gameService;

    public int clickedRow, clickedCol;
    public bool dbClick = false;
    public string klawisz = "zaden";

    public void TableFieldClicked(MouseEventArgs e, int row, int column)
    {
        clickedCol = column;
        clickedRow = row;
        dbClick = false;
        klawisz = "lewy";
        gameService.OnClick(row, column);
    }

    public void CheckButton(MouseEventArgs e,int row, int col)
    {
        if (e.Button == 2)
        {
            klawisz = "prawy";
            gameService.OnRightClick(row, col);
        }
    }

    public string FieldValue()
    {
        return "dd";
    }
    public string GetStyle(int row, int column)
    {

        if (gameService.GameField[row, column].Visited)
        {
            return "hidden";
        }

        return "empty";
    }

    public void DbClicked()
    {
        dbClick = true;
    }

}
