@page "/"
    <center>
        <h1>MineSweaper in Blazor app</h1>

        <NavLink class="nav-link" href="saper">
            <button href="/saper"><h2>    Start   </h2></button>
        </NavLink>
    </center>
    <style>
        button {
            background-color: antiquewhite;
            position: relative;
            font-weight: normal;
            color: #000000;
        }

            button:hover {
                background-color: #ffd800;
                font-weight: bold;
                color: #ff0000;
            }
    </style>
