@page "/saper"
@using Services;


<h3>SaperMainPage</h3>
<Timer></Timer>
<GameField NumberOfColumns="5" NumberOfRows="5" ></GameField>


@code {

    GameService _gameService;
    

    protected override void OnInitialized()
    {
        //base.OnInitialized();
        _gameService = new GameService(5, 5, 2);
        //_gameService.StartGame();
    }
}
