@page "/saper"
@using Services;


<h3>SaperMainPage</h3>
<Timer></Timer>
<GameField _GameService="@_gameService"></GameField>


@code {

    GameService _gameService;
    

    protected override void OnInitialized()
    {
        //base.OnInitialized();
        _gameService = new GameService(15, 15, 15);
        //_gameService.StartGame();
    }
}
