<h3>Timer:@time</h3>
<button @onclick="Clock">Start Time</button>
@code {

   
    public int time = 0;
    bool clocksOn = false;

    public async void Clock()
    {
        if (!clocksOn)
        {
            clocksOn = true;
            for (int i = 0; i < 35; i++)
            {
                time = i;

                await Task.Delay(1000);
                StateHasChanged();
            }
            clocksOn = false;
        }
    }
}
