@using Abstraction;
@using Services;

<h3>Time:@Time</h3>
@code {
    [Parameter]
    public int Time { get; set; }
    [Parameter]
    public EventCallback<int> TimeChanged { get; set; }

    async Task UpdateTime()
    {
        await TimeChanged.InvokeAsync(Time);
    }

    [Parameter]
    public bool GameIsOn { get; set; }
    [Parameter]
    public EventCallback<bool> GameIsOnChanged { get; set; }

    async Task UpdateGameIsOn()
    {
        await GameIsOnChanged.InvokeAsync(GameIsOn);
        StartClock();
    }



    public async void StartClock()
    {
        Time = 0;
        while (GameIsOn)
        {
            await Task.Delay(1000);
            Time++;
            StateHasChanged();
        }
    }
}
