@using Abstraction; 

<h3>@time</h3>
@code {

    [Parameter]
    public  ITimer Timer { get; set; }

    //public int time = 0;
    //bool clocksOn = false;

    //public async void StartClock()
    //{
    //    if (!clocksOn)
    //    {
    //        clocksOn = true;
    //        for (int i = 0; i < 35; i++)
    //        {
    //            time = i;
    //
    //            await Task.Delay(1000);
    //            StateHasChanged();
    //        }
    //        clocksOn = false;
    //    }
    //}
}
