
td{
    width:140px;
    height:140px;
    border:2px solid red;
    text-align:center;
}

.hidden{
    background-color:#e5e5e5;
}

.empty{
    background-color:#4cff00;
}

.visited{
    background-color:#ffd800;
}
.one{
    background-color:#28ccd1;
    border:2px solid green;
}
