
td {
    width: 40px;
    height: 40px;
    border: 2px solid red;
    text-align: center;
    font-weight: bold;
}


td:hover{
    background-color:#ffd800;
    border:3px dashed #002cff;
}
.flagged {
    background-color: #808080;
    color:red;
    font-weight:bold;
}
.hidden {
    background-color: #808080;
}

.empty {
    background-color: #e5e5e5;
    animation-name: flash;
    animation-duration: 2.3s;
}

.visited {
    background-color: #e5e5e5;
    animation-name:flash;
    animation-duration:2s;
}

.one {
    background-color: #e5e5e5;
    color: #fb0404;
    animation-name: flash;
    animation-duration: 2s;
    
}
.two {
    background-color: #e5e5e5;
    color: #fb8a00;
    animation-name: flash;
    animation-duration: 2s;
}

.three {
    background-color: #e5e5e5;
    color: #88a803;
    animation-name: flash;
    animation-duration: 2s;
}

.four {
    background-color: #e5e5e5;
    color: #05c44f;
    animation-name: flash;
    animation-duration: 2s;
}

.five {
    background-color: #e5e5e5;
    color: #003ed3;
    animation-name: flash;
    animation-duration: 2s;
}
.six {
    background-color: #e5e5e5;
    color: #9c00ef;
    animation-name: flash;
    animation-duration: 2s;
}

.seven {
    background-color: #e5e5e5;
    color: #fb51d3;
    animation-name: flash;
    animation-duration: 2s;
}

.eight {
    background-color: #e5e5e5;
    color: #8d2632;
    animation-name: flash;
    animation-duration: 2s;
}

.bomb{
    background-color:#ff0000;
}

.win {
    background-color: #00ff21;
    animation-name: win;
    animation-duration: 4s;
}

.loose {
    background-color: #d90808;
    animation-name: loose;
    animation-duration: 4s;
}

@keyframes flash {
    from {
        background-color: #808080;
        
    }

    to {
        background-color: #e5e5e5;
        
    }
}

@keyframes win {
    from {
        background-color: #e5e5e5;
    }

    to {
        background-color: #00ff21;
        
    }
}

@keyframes loose {
    from {
        background-color: #e5e5e5;
    }

    to {
        background-color: #d90808;
    }
}
