
td{
    width:40px;
    height:40px;
    border:2px solid red;
    text-align:center;
}
.flagged {
    background-color: #808080;
    color:red;
    font-weight:bold;
}
.hidden{
    background-color:#808080;
}

.empty{
    background-color:#e5e5e5;
}

.visited {
    background-color: #e5e5e5;
}
.one {
    background-color: #e5e5e5;
    color: #002cff;
}
.bomb{
    background-color:#ff0000;
}
